<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}

</head>
<body>

    <header class="header-2" id="home">
        <nav class="bg-white border-gray-200 px-4 sm:px-5 py-4 rounded ">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="index.html" class="flex items-center">
                    <span class="self-center text-3xl font-bold whitespace-nowrap text-green-700">Kanban</span>
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
              </button>
              <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                  <li>
                    <a href="#about" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 ">Home</a>
                  </li>
                  <li>
                    <a href="#experiences" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 ">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
        <section class="text-black body-font">
            <div class="container mx-auto flex px-10 py-18 md:flex-row flex-col items-center">
                <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                    <h1 class="text-3xl xl:text-5xl mb-4 xl:font-extrabold font-bold text-gray-900">Make your plan.</h1>
                    <h1 class="text-3xl xl:text-5xl mb-4 xl:font-extrabold font-bold text-gray-900">For everyday.</h1>
                    <h2 class="sm:text-2xl text-lg mb-4 font-small text-gray-400">Organize your activities with us. <br> We’re more than just a note.</h2>
                    
                    <div class="flex justify-center mt-5">
                        <a href="/login">
                            <button class="hover:shadow-xl font-medium inline-flex text-black border-2 py-1 px-5 xl:px-10 focus:outline-none rounded-xl text-sm xl:text-base">Log In</button>
                        </a>
                        <a href="/register">
                            <button class="hover:shadow-xl font-medium ml-4 inline-flex text-white bg-green-700 py-1 px-5 xl:px-10 focus:outline-none rounded-xl text-sm xl:text-base">Register</button>
                        </a>
                    </div>
                </div>
                <div class="lg:max-w-md lg:w-3/4 md:w-1/2 w-5/6">
                    <img class="object-cover object-center rounded" alt="Schedule-amico" src="https://ik.imagekit.io/c3h30jzgh/1.png?ik-sdk-version=javascript-1.4.3&updatedAt=1671172173283">
                </div>
            </div>
        </section>
    







    <!-- <div>
        <h1>Welcome to kanban app</h1>
        <a
            href="/login"
        >login</a>

        <a
            href="/register"
        >Register</a>
    </div> -->
</body>
</html>